<!-- Validation failure messages -->
<% if @program.errors.any? %>
  <% @program.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Program #<%= @program.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_program/<%= @program.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @program.name %>">
      </div>

      <!-- Label and input for start_date -->
      <div class="form-group">
        <label for="start_date" class="control-label">
          Start date
        </label>

        <input type="text" id="start_date" name="start_date" placeholder="Start date" class="form-control" value="<%= @program.start_date %>">
      </div>

      <!-- Label and input for end_date -->
      <div class="form-group">
        <label for="end_date" class="control-label">
          End date
        </label>

        <input type="text" id="end_date" name="end_date" placeholder="End date" class="form-control" value="<%= @program.end_date %>">
      </div>

      <!-- Label and input for contact_id -->
      <div class="form-group">
        <label for="contact_id" class="control-label">
          Contact
        </label>

        <input type="text" id="contact_id" name="contact_id" placeholder="Contact" class="form-control" value="<%= @program.contact_id %>">
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @program.location %>">
      </div>

      <!-- Label and input for category -->
      <div class="form-group">
        <label for="category" class="control-label">
          Category
        </label>

        <input type="text" id="category" name="category" placeholder="Category" class="form-control" value="<%= @program.category %>">
      </div>

      <button class="btn btn-warning">
        Update Program
      </button>
      or
      <a href="/programs/<%= @program.id %>">Cancel</a>
    </form>
  </div>
</div>
