<div class="page-header">
  <h3>Program #<%= @program.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @program.name %></dd>

      <dt>Start date</dt>
      <dd><%= @program.start_date %></dd>

      <dt>End date</dt>
      <dd><%= @program.end_date %></dd>

      <dt>Contact</dt>
      <dd><%= @program.contact_id %></dd>

      <dt>Location</dt>
      <dd><%= @program.location %></dd>

      <dt>Category</dt>
      <dd><%= @program.category %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/programs" class="btn btn-primary">
        Back
      </a>
      <a href="/programs/<%= @program.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_program/<%= @program.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
